<div *ngIf="isLoading; then loadingBlock else contentBlock"></div>
<ng-template #loadingBlock>
  <terra-portlet>
    <div *ngIf="isLoading" class="loadingComponent">
      <terra-loading-spinner></terra-loading-spinner>
      Loading...
    </div>
  </terra-portlet>
</ng-template>
<ng-template #contentBlock>
  <terra-base-toolbar>
    <div class="btn-group" role="group">
      <terra-button [inputIcon]="'icon-save'"
                    [inputTooltipText]="'Save'"
                    [inputTooltipPlacement]="'bottom'"
                    (click)="createItem()">
      </terra-button>
    </div>
  </terra-base-toolbar>
  <div class="col-md-6">
    <terra-portlet inputPortletHeader="Artikel anlegen">
      <terra-text-input inputName="Artikelname"
                        [(ngModel)]="name">
      </terra-text-input>
      <terra-file-input
              inputName="Bild"
              [(ngModel)]="image">
      </terra-file-input>

      <mat-form-field class="w-100">
        <mat-label>Kategorie</mat-label>
        <mat-select [(ngModel)]="category">
          <mat-option *ngFor="let category of _selectCategory" [value]="category.value">
            {{category.caption}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="col-xs-12" style="padding-top:10px;padding-bottom:10px;">
        <terra-toggle [(ngModel)]="propertyToggle"></terra-toggle>
        Eigenschaften setzen
      </div>

      <table class="table table-striped" *ngIf="propertyToggle">
        <thead>
        <tr>
          <th>Eigenschaft</th>
          <th>Inhalt</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let property of this._statsDataService.propertyNames; let i = index">
          <ng-container *ngIf="property != null">
            <td>{{ property }}</td>
            <td>
              <terra-text-input #propertyInput inputName="{{ property }}"
                                NgModel>
              </terra-text-input>
            </td>
          </ng-container>
        </tr>
        </tbody>
      </table>
    </terra-portlet>
  </div>
</ng-template>
