<div class="container-fluid">
  <div class="row">
    <div class="overflow-auto col-12 col-md-2">
      <terra-filter (outputOnSearchBtnClicked)="onSearchBtnClicked()"
                    (outputOnResetBtnClicked)="onResetBtnClicked()"
                    (outputOnEnterSubmit)="onSearchBtnClicked()">
        <mat-form-field class="w-100">
          <input type="number" matInput placeholder="Variante" [(ngModel)]="filterDevice" (change)="onDeviceFilterChange()">
        </mat-form-field>
        <mat-form-field class="w-100">
          <input type="number" matInput placeholder="Benutzer-ID" [(ngModel)]="filterUser" (change)="onUserFilterChange()">
        </mat-form-field>
      </terra-filter>
    </div>
    <div class="overflow-auto col-12 col-md-10">
      <ng-template #noSelectedRows>
        Es wurden keine Einträge ausgewählt
      </ng-template>
      <terra-portlet>
        <terra-data-table
                [inputService]="logService"
                [inputHasCheckboxes]="false"
                [inputHeaderList]="headerList"
                [useContentBody]="true"
                #logTable
        >
          <tbody>
          <tr [tcTableRow]="row" hasContextMenu [rowData]="row.data" *ngFor="let row of logService.rowList; let index = index">
            <td>{{ row.data.userId }}</td>
            <td>{{ row.data.rentalItem }}</td>
            <td>{{ row.data.message }}</td>
            <td>{{ row.data.created_at }}</td>

          </tr>
          </tbody>

        </terra-data-table>
      </terra-portlet>
    </div>
  </div>
</div>
